
//white background color
$white-opacity-5: rgba($color: #ffffff, $alpha: 0.05);
$white-opacity-10: rgba($color: #ffffff, $alpha: 0.1);
$white-opacity-15: rgba($color: #ffffff, $alpha: 0.15);
$white-opacity-50: rgba($color: #ffffff, $alpha: 0.5);

//gray background color - mainly for the nonfunctional class
$gray-opacity-10: rgba($color: #b9b8b8, $alpha: 0.1);

//Darker primary color
$tomato-darker: rgb(236, 90, 64);
$tomato-darkerer: rgb(219, 79, 55);

//Dark gray text
$light-gray: rgba(167, 163, 163, 0.9);
$gray: rgba(112, 111, 111, 0.9);
$dark-gray: rgba(36, 36, 36, 0.9);
$darker-gray: rgba(26, 26, 26, 0.9);

//Gradients
$gradient-primary: linear-gradient(90deg, #f72585, #4895ef);
$gradient-pink: #f72585;
$gradient-blue: #4895ef;